.vscode
.cph
Number of Inversions on Segment.cpp
A. Hit the Lottery.bin
A. Hit the Lottery.cpp
Flight Discount.cpp
.editorconfig
High Score.cpp
Falling Zero.cpp

Codeforces/Longest Common Substring.cpp
CSES/Graph Algorithms/Round Trip II.cpp
CSES/DP/Counting Tilings.cpp
Codeforces/D. Rectangle Painting 1.cpp